@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  body {
    @apply
      animate-background
      bg-gradient-to-r from-purple-400 to-amethyst_bg_light
      dark:bg-gradient-to-r dark:from-blue_bg_dark dark:to-zinc-500
      bg-[length:500%_500%] transition [animation-duration:_6s]
  }

  .text_hover {
    @apply text-zinc-800 hover:text-zinc-400 dark:text-white dark:hover:hover:text-zinc-400 duration-500
  }

  .text_color {
    @apply text-zinc-800 dark:text-white duration-500
  }
}